<router-outlet></router-outlet>
<div class="back">
  
<div class="main back">  	
  <input type="checkbox" id="chk" aria-hidden="true">

    <div class="signup">
      <form (submit)="signup()">
        <label for="chk" aria-hidden="true" (click)="clearFields()">Sign up</label>
        <input type="email" name="email" placeholder="Email" required [(ngModel)]="email">
        <input type="password" name="pswd" placeholder="Password" required [(ngModel)]="password">
        <button type="submit">Sign up</button>
      </form>
    </div>

    <div class="login">
      <form (submit)="login()">
        <label for="chk" aria-hidden="true" (click)="clearFields()">Login</label>
        <input type="email" name="email" placeholder="Email" required [(ngModel)]="email">
        <input type="password" name="pswd" placeholder="Password" required [(ngModel)]="password">
        <button type="submit">Login</button>
      </form>
    </div>
</div>
</div>

